<li><h3>基本信息编辑</h3></li>
<li><div id="community_form_container">

</div></li>
<li><% if(status == 'edit') { %>
	<table class="table table-border">
		<thead><th>成员</th></thead>
		<tbody>
		<% _.each(st_members, function(value,key){ %> 
			<tr data-id=<%= value.user_id %>>
				<td><%= value.user_name %></td>
				<td><a class="btn btn-warning" href="javascript:void(0)" data-handler="delete">移除</a></td>
			</tr>
		<% }) %>
		</tbody>
	</table>
<% } %>
</li>
<li>
<% if(status == 'edit') { %>
	<table class="table table-border">
		<thead><th>申请加入的成员</th></thead>
		<tbody>
		<% _.each(st_req_entry_users, function(value,key){ %> 
			<tr data-id=<%= value.user_id %>>
				<td><%= value.user_name %></td>
				<td><a class="btn btn-info" href="javascript:void(0)" data-handler="allow">批准加入</a></td>
				<td><a class="btn btn-warning" href="javascript:void(0)" data-handler="reject">拒绝加入</a></td>
			</tr>
		<% }) %>
		</tbody>
	</table>
<% } %>
</li>
<li style="height : 60px; margin-bottom : 10px;">
<div class="community_btn_group">
	<a type="button" class="btn btn-success" href="javascript:void(0)" data-handler="submit">提交</a>
	<a type="button" class="btn btn-default" href="javascript:void(0)" data-handler="cancel">取消</a>
</div>
</li>