<li>	
	<a>社团:</a>
	<ul>
		<li><a href="#community_wiki?organize_type=community&user_id=<%= user_id %>&create=true">创建社团</a></li>
		<li><a href="#community_wiki?organize_type=gather&user_id=<%= user_id %>&create=true">创建扎堆</a></li>
		<li><a href="#community_wiki?user_id=<%= user_id %>">我的社团</a></li>
	</ul>
</li>
<li>
	<a>企业:</a>
	<ul>
		<li><a href="#enterprise_wiki?user_id=<%= user_id %>&create=true">申请为企业</a></li>
		<li><a href="#enterprise_wiki?user_id=<%= user_id %>">我所在企业</a></li>
	</ul>
</li>
<li>
	<a>企业任务:</a>
	<ul>
		<li><a href="#task?user_id=<%= user_id %>&create=true">发布企业任务</a></li>
		<li><a href="#task?user_id=<%= user_id %>">我的企业任务</a></li>
	</ul>
</li>
<li>
	<a>社团需求:</a>
	<ul>
		<li><a href="#activity?user_id=<%= user_id %>&create=true">发布社团需求</a></li>
		<li><a href="#activity?user_id=<%= user_id %>">我的社团需求</a></li>
	</ul>
</li>
<li><a>申请校园大使</a></li>